
<%#= turbo_frame_tag quote do %>
  <div class="quote">
    <%#= turbo_stream_from quote  %>
    <details>
      <summary>
        <%= link_to quote.name, quote_path(quote), data: { turbo_frame: "_top" } %>
      </summary>
      <%= turbo_frame_tag dom_id(quote), loading: :lazy, src: hovercard_quote_path(quote)	do %>
        loading....
      <% end %>
    </details>
  </div>
<%# end %>
